body, html {
    height: 100%;
    background-color:  rgb(0, 15, 18);
    font-family: Montserrat;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

/*Horizontal-menu styling*/
.horizontal-menu{
    position:sticky;
    height:50px;
    width:100%;
    background-color:#1E90FF;  
}

.horizontal-menu i{
    position:absolute;
    cursor:pointer;
    color: white;
}

.logo{
    display: inline-block;
    width:15%;
    position:relative;
    left:300px;
    bottom:24px;
}

input[type=text] {
    border: none;
    height:35px;
    width:400px;
    border:none;
    border-radius:5px;
    position:absolute;
    top:6px;
    left:450px; 
    padding: 12px 21px;
}

.sidepanel{
    font-family: Montserrat;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 600px;
    top: 0;
    left:0;
    background-color: #111;
    opacity:0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #f1f1f1;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.account{
    font-family: Montserrat;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 600px;
    top: 0;
    right: 0;
    background-color: #111;
    opacity:0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
}
  
.account a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left:90px;
}
  
.account a:hover {
    color: #f1f1f1;
}
  
.account .closebtna {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 36px;
    margin-left:0px;
}

.bg-image {  
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 30px 30px 50px 30px;
    text-align: center;
  }

  .bg-text h1{
      font-weight: bold;
  }

  .bg-text p{
      text-align: justify;
      line-height:30px;
      font-weight: normal;
  }

  .explore {
    border-radius: 4px;
    position:relative;
    top:20px;
    width:300px;
    background-color:#1E90FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.explore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .explore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .explore:hover span {
    padding-right: 25px;
  }
  
  .explore:hover span:after {
    opacity: 1;
    right: 0;
  }

  .explore a{
      text-decoration: none;
      color:white;
  }
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*Footer styling*/

.copy-rights{
    height:50px;
    width:100%;
    background-color:black;
    color:white;
}

.copy-rights p{
    padding:15px 0 10px 10px;
}