:root {
  --bgcolor: #1E90FF;
  --bgcolor2: rgb(0, 15, 18);
  --color: white;
}

body {
  height: 100%;
  background-color: var(--bgcolor2);
  position: relative;
}

.favourites {
  height: 330px;
  width: 200px;
  background-color: var(--bgcolor);
  color: var(--textcolor);
  text-align: center;
  font-size: 10px;
  margin: 25px;
  cursor: pointer;
}

tr {
  display: block;
}

.break {
  float: left;
}

#fav1:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav2:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav3:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav4:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav5:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav6:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav7:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav8:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav9:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

#fav10:hover {
  box-shadow: 0 4px 8px 0 var(--bgcolor), 0 6px 20px 0 var(--bgcolor);
}

.favorites h6 {
  font-weight: bold;
  padding-top: 10px;
}

.favorites p {
  margin: 0;
}

.favorites button {
  height: 25px;
  width: 75px;
  color: var(--bgcolor);
  font-size: 5px;
  margin-top: 5px;
  padding: 0;
  border: none;
  font-size: 5px;
}

.favorites img {
  width: 200px;
  height: 200px;
}

.copy-rights {
  position: relative;
  top: 20px;
}

/******Mobile screen**************************************************************************************************/
@media screen and (max-width:480px) {

  .rows {
    display: inline-block;
  }

  .favorites img {
    width: 200px;
    height: 200px;
  }

  .favourites {
    height: 360px;
    width: 200px;
    font-size: 15px;
    margin: 30px 10px 20px 20px;
  }

  .favorites button {
    height: 30px;
    width: 80px;
    color: var(--bgcolor);
    margin-top: 15px;
    font-size: 13px;
    border: none;
  }
}