:root {
  --bgcolor: #1E90FF;
  --textcolor: white;
}

.imgs img {
  height: 350px;
  width: 632px;
}

.imgs div {
 
  font-size: 40px;
}

.imgs a {
  text-decoration: none;
}

.right-side {
  clear: right;
  text-align: center;
  padding-top: 130px;
  cursor: pointer;
  height: 350px;
}

.left-side {
  clear: left;
  text-align: center;
  padding-top: 130px;
  cursor: pointer;
  height: 350px;
}

h1 {
  text-align: center;
  text-decoration: none;
}

.left-side:hover h1 {
  color: var(--textcolor);
}

.right-side:hover h1 {
  color: var(--textcolor);
}

.left-side:hover {
  background-color: var(--bgcolor);
}

.right-side:hover {
  background-color: var(--bgcolor);
}

.copy-rights {
  height: 52px;
  top: 1800px;
}

/**********Mobile screen****************************************************************************************/
@media screen and (max-width:480px) {

  #signup {
    margin-left: 115px;
  }

  #login {
    margin-left: 115px;
  }

  .imgs div {
    width: 480px;
  }

  .imgs img {
    height: 300px;
    width: 480px;
    filter: brightness(50%);
  }

  .right-side,
  .left-side {
    height: 300px;
  }

  h1 {
    color: var(--textcolor);
    text-align: center;
    position: absolute;
  }

  .left-side:hover {
    background-color: none;
  }

  .right-side:hover {
    background-color: none;
  }

  #h1pro {
    left: 120px;
  }

  #h1bus {
    width: 400px;
    left: 45px;
  }

  #h1gam {
    left: 150px;
  }

  #h1art {
    left: 150px;
  }

  #h1sch {
    left: 150px;
  }

  .copy-rights {
    top: 1549px;
  }

}