body{
    margin:0%;
}

#horizontal-menu{
    position:fixed;
    height:50px;
    width:100%;
    background-color:#1E90FF;  
}
img{
    display: block;
    width: 15%;
    position:relative;
    bottom:58px;
    left:350px;
}

.search{
    position:absolute;
    left:500px;
    top:5px;
}
.search input[type=text] {
    border: none;
    height:35px;
    width:300px;
    border:none;
    border-radius:5px;
}

i{
    color:white;
    cursor:pointer;
}