html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0; 
    background-color: rgb(0, 15, 18); 
    font-family: Montserrat; 
}

* {
    box-sizing: border-box;
  }

/*Horizontal-menu styling*/
.horizontal-menu{
    position:sticky;
    height:50px;
    width:100%;
    background-color:#1E90FF;  
}

.horizontal-menu i{
    position:absolute;
    cursor:pointer;
    color: white;
}

.logo{
    display: inline-block;
    width:15%;
    position:relative;
    left:300px;
    bottom:24px;
}

input[type=text] {
    border: none;
    height:35px;
    width:400px;
    border:none;
    border-radius:5px;
    position:absolute;
    top:6px;
    left:450px; 
    padding: 12px 21px;
}

.sidepanel{
    font-family: Montserrat;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 600px;
    top: 0;
    left:0;
    background-color: #111;
    opacity:0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #f1f1f1;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.account{
    font-family: Montserrat;
    width: 0;
    position: fixed;
    z-index: 1;
    height: 600px;
    top: 0;
    right: 0;
    background-color: #111;
    opacity:0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 
}
  
.account a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left:90px;
}
  
.account a:hover {
    color: #f1f1f1;
}
  
.account .closebtna {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 36px;
    margin-left:0px;
}

/*****************************************************************************************************************************************/
.prev{
    height:55px;
    width:55px;
    background-color:rgb(0, 15, 18);
    color:white;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:230px;
    left:350px;
    cursor: pointer;
    text-decoration: none;
}

.slides img{
    height:300px;
    width:300px;
    position:absolute;
    top:100px;
    left:485px;
    border-radius:10px;
}

.next{
    height:55px;
    width:55px;
    background-color:rgb(0, 15, 18);
    color:white;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:230px;
    right:350px;
    cursor: pointer;
    text-decoration: none;
}

.next:hover{
    background: #1E90FF;
    transition: 0.5s;
    border-radius: 3px;
    color:white;
}

.prev:hover{
    background: #1E90FF;
    transition: 0.5s;
    border-radius: 3px;
    color:white;
}


.multi-imgs{
    display:block;
    height:100px;
    position:relative;
    top:370px;
    padding:10px 30px;
}

.demo{
    height:90px;
    border-radius:10px;
    margin-left:23px;
    cursor: pointer;
    opacity:0.6;
}

.demo:hover{
    opacity:1;
}

.info{
    height:820px;
    width:92%;
    margin:auto;
    background-color:#1E90FF;
    color:white;
    position:relative;
    top:410px; 
    padding:50px;
}

.info1{
    width:30%;
    float:left;
    margin-left:35px;
}

.info1 table{
    margin-left:5px;
}

.name{
    margin-left: 25px;
    font-weight:bold;
    font-size:1.7em;
}


/*****Tool-tip*********************************************************************************************************************************/
.fav {
    position:absolute; 
    top:55px;
    right:280px;
    color:white;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  .fav .tooltiptext {
    visibility: hidden;
    width: 160px;
    font-size: 15px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom:42px;
    left:1px;
    margin-left: -60px;
  }
  
  .fav .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

 
  
  .fav:hover .tooltiptext {
    visibility: visible;
    
  }

/****************************************************************************************************************************************/
h4{
    font-weight:bold;
}

td{
    width:300px;
}

.xinfo{
    clear:both;
    margin-left:30px;
    margin-top:30px;
    display: inline-block;
    width:60%;  
    padding-left:10px;
}

ul{
    padding-left:20px;
}
.pros-cons{
    float:right;
    margin-top: 30px;
    margin-right:60px;
    padding-left:10px;
    
}

/*****************************************************************************************************************************************/

/*Footer styling*/

.copy-rights{
    height:50px;
    width:100%;
    background-color:black;
    position: relative;
    top:500px;
    color:white;
}

.copy-rights p{
    padding:15px 0 10px 10px;
}
